<!-- appWeb/templates/appWeb/home.html -->
{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>Ceci est du contenu dynamique pour la page d'accueil.</p>
    <!-- Ajoute ici tout ce que tu veux afficher -->
    <div class="row g-3">
      <div class="col-6 rounded" style="background-color: #2ECC71; padding: 20px; color: white;">
        Div 1
      </div>
      <div class="col-6 rounded" style="background-color: #9B59B6; padding: 20px; color: white;">
        Div 2
      </div>
      <div class="col-6 rounded" style="background-color: #3498DB; padding: 20px; color: white;">
        Div 3
      </div>
      <div class="col-6 rounded" style="background-color: #E67E22; padding: 20px; color: white;">
        Div 4
      </div>
    </div>


{% endblock %}